<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudbest.search.mapper.EsItemsMapper">

    <resultMap id="esItemsMap" type="com.cloudbest.search.entity.EsItems">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="firstCategoryId" column="first_category_id"/>
        <result property="secondCategoryId" column="second_category_id"/>
        <result property="firstCategoryName" column="firstCategoryName"/>
        <result property="secondCategoryName" column="secondCategoryName"/>
        <result property="spuSaltVolume" column="spu_salt_volume"/>
        <result property="groudingTime" column="grouding_time"/>
        <result property="validityTime" column="validity_time"/>
        <result property="skuId" column="skuId"/>
        <result property="itemAttr" column="item_attr"/>
        <result property="skuSaltVolume" column="sku_salt_volume"/>
        <result property="salePrice" column="sale_price"/>
        <result property="description" column="description"/>
    </resultMap>

    <select id="getAllEsItemsList" resultMap="esItemsMap">
        SELECT DISTINCT
        cii.id,
        cii.NAME,
        cii.first_category_id,
        cii.second_category_id,
        cc1.catagory_name as firstCategoryName,
        cc2.catagory_name as secondCategoryName,
        cii.spu_salt_volume,
        cii.grouding_time,
        cii.validity_time,
        cs.id as skuId,
        cs.item_attr as itemAttr,
        cs.sku_salt_volume as skuSaltVolume,
        cs.sale_price as salePrice
        FROM
        c_items_info cii
        LEFT JOIN c_catagory cc1 ON cii.first_category_id = cc1.id
        LEFT JOIN c_catagory cc2 ON cii.second_category_id = cc2.id
        LEFT JOIN c_stock cs ON cii.id = cs.item_id
        where
        cii.is_view = 1
        and now() between cii.grouding_time and cii.validity_time
        and cs.status = 1
        <if test="id!=null and id!=''">
            AND cii.id=#{id}
        </if>
    </select>

</mapper>






















