<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudbest.order.mapper.MainMapper">


    <select id="selectSumProductQuantity" parameterType="Map" resultType="Integer">
        select ifnull(sum(product_quantity),0) from order_item oi
        LEFT JOIN order_main om on oi.order_id = om.main_order_id
        where om.user_id =#{param.userId}
        and  oi.product_id = #{param.skuId}
        and  oi.item_id = #{param.itemId}
        and om.pay_status in (2,3,4)
        and om.order_time BETWEEN #{param.startDate} and #{param.endDate}

    </select>


</mapper>



































