<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aomi.pay.mapper.EsItemsMapper">

    <resultMap id="esItemsMap" type="com.aomi.pay.entity.EsItems">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="firstCategoryId" column="first_category_id"/>
        <result property="secondCategoryId" column="second_category_id"/>
        <result property="firstCategoryName" column="firstCategoryName"/>
        <result property="secondCategoryName" column="secondCategoryName"/>
        <result property="spuSaltVolume" column="spu_salt_volume"/>
        <result property="groudingTime" column="grouding_time"/>
        <result property="validityTime" column="validity_time"/>
        <result property="description" column="description"/>
        <result property="discountedPrice" column="discountedPrice"/>
    </resultMap>

    <select id="getAllEsItemsList" resultMap="esItemsMap">
        SELECT DISTINCT
        cii.id,
        cii.NAME,
        cii.first_category_id,
        cii.second_category_id,
        cc1.catagory_name AS firstCategoryName,
        cc2.catagory_name AS secondCategoryName,
        cii.spu_salt_volume,
        cii.grouding_time,
        cii.validity_time,
        cii.description,
        min(cs.sale_price*(1-cs.score_scale)) discountedPrice
        FROM
        c_items_info cii
        LEFT JOIN c_catagory cc1 ON cii.first_category_id = cc1.id
        LEFT JOIN c_catagory cc2 ON cii.second_category_id = cc2.id
        LEFT JOIN c_stock cs ON cii.id = cs.item_id
        WHERE
        cii.is_view = 1
        and IF(cii.grouding_time IS NULL and cii.validity_time is null,1 = 1,now() BETWEEN cii.grouding_time AND cii.validity_time)
        AND cii.validity_time
        AND cs.STATUS = 1
        and IF(cs.grouding_time IS NULL and cs.validity_time is null,1 = 1,now() BETWEEN cs.grouding_time AND cs.validity_time)
        <if test="id!=null and id!=''">
            AND cii.id=#{id}
        </if>
        GROUP BY cii.id
    </select>

</mapper>






















